.form {
  margin: 1rem 1rem;
  padding: 2rem 2rem;
  border: 1px solid gray;
}

@media only screen and (min-width: 600px) {
  .form {
    width: 500px;
    height: 300px;
  }
}

.form h2 {
  margin-bottom: 4rem;
}

.form label {
  display: block;
  margin-bottom: 1rem;
}

.form input {
  width: 100%;
  padding: .6rem .5rem;
  margin-bottom: 1rem;
  box-sizing: border-box;
}

